.container
  .row
    .col-lg-12
      .masthead
        %h3.text-muted
          %a{href:"#"} HyperCube&trade;
        %nav
          %ul.nav.nav-justified
            %li.active
              %a#home{href:"javascript:void(0)"} Home
            %li
              %a#one{href:"javascript:void(0)"} Imagine
            %li
              %a#two{href:"javascript:void(0)"} Possibilities
            %li
              %a#three{href:"javascript:void(0)"} More

  .row
    .col-lg-12
      .scene
        .cube
          .cube-face.cube-face-front
            .col-lg-12
              %h2 What is HyperCube&trade;?
              %p
                The HyperCube&trade; is one of Quipper's most fascinating cube projects,
                combining facets of the standard square and cube, while allowing for a
                staggering
                %em n
                dimensions!
          .cube-face.cube-face-back
            .col-lg-12
              %h2 Imagine the possibilities!
              %p
                Where the limits of standard cubes end, the endless possibilities of
                hypercubes begin! Prepare yourself to step into a whole new dimension.
          .cube-face.cube-face-left
            .col-lg-12
              %h2 How is it possible?
              %p
                Since it is so difficult to imagine an
                = succeed "-dimensional" do
                  %em n
                object in a 3D space,
                let alone the flat plane of this very website, we will represent hypercubes
                as if they were standard cubes.
          .cube-face.cube-face-right
          .cube-face.cube-face-top
            .col-lg-12
              %h2 Is there more?
              %p
                If you would like to know more about the incredible benefits of installing
                HyperCube&trade; in your Infinite Display System then please call us
                for a quote and let's see what we can do for you!
          .cube-face.cube-face-bottom

.footer
  .container
    .row
      .col-lg-12
        %strong#footer-msg
          HyperCube&trade; &mdash;
        It's like a cube, but
        %em
          Hyper
        !